.member {
    width: 25px;
    height: 25px;
    font-size: 60%;
    position: absolute;
    background-color: black;
    color: white;
    left: 0;
    top: 0;
    vertical-align: middle;
    text-align: center;
    opacity: 0.5
    padding: 2px;
    border: 1px solid black;
}